<a href="https://colab.research.google.com/github/rbdlm/Covid/blob/main/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

++Analisando os dados validos

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Datasets/COVID19_line_list_data.csv')

In [15]:
df.head(3)

   id  case_in_country reporting date  ...  Unnamed: 24 Unnamed: 25 Unnamed: 26
0   1              NaN      1/20/2020  ...          NaN         NaN         NaN
1   2              NaN      1/20/2020  ...          NaN         NaN         NaN
2   3              NaN      1/21/2020  ...          NaN         NaN         NaN

[3 rows x 27 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1085 non-null   int64
 1   case_in_country        888 non-null    float64
 2   reporting date         1084 non-null   object
 3   Unnamed: 3             0 non-null      float64
 4   summary                1080 non-null   object
 5   location               1085 non-null   object
 6   country                1085 non-null   object
 7   gender                 902 non-null    object
 8   age                    843 non-null    float64
 9   symptom_onset          563 non-null    object
 10  If_onset_approximated  560 non-null    float64
 11  hosp_visit_date        507 non-null    object
 12  exposure_start         128 non-null    object
 13  exposure_end           341 non-null    object
 14  visiting Wuhan         1085 non-null   int64
 15  from Wuhan             1081 non-null   float64
 16  death                  1085 non-null   object
 17  recovered              1085 non-null   object
 18  symptom                270 non-null    object
 19  source                 1085 non-null   object
 20  link                   1085 non-null   object
 21  Unnamed: 21            0 non-null      float64
 22  Unnamed: 22            0 non-null      float64
 23  Unnamed: 23            0 non-null      float64
 24  Unnamed: 24            0 non-null      float64
 25  Unnamed: 25            0 non-null      float64
 26  Unnamed: 26            0 non-null      float64
dtypes: float64(11), int64(2), object(14)
memory usage: 229.0+ KB

In [17]:
df.isnull().sum()

id                          0
case_in_country           197
reporting date              1
Unnamed: 3               1085
summary                     5
location                    0
country                     0
gender                    183
age                       242
symptom_onset             522
If_onset_approximated     525
hosp_visit_date           578
exposure_start            957
exposure_end              744
visiting Wuhan              0
from Wuhan                  4
death                       0
recovered                   0
symptom                   815
source                      0
link                        0
Unnamed: 21              1085
Unnamed: 22              1085
Unnamed: 23              1085
Unnamed: 24              1085
Unnamed: 25              1085
Unnamed: 26              1085
dtype: int64