<a href="https://colab.research.google.com/github/rbdlm/Covid/blob/main/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importações

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd
import re

## Dataset e Limpeza

In [11]:
df = pd.read_csv('/content/drive/My Drive/Datasets/COVID19_line_list_data.csv')
df.head(2)

   id  case_in_country reporting date  ...  Unnamed: 24 Unnamed: 25 Unnamed: 26
0   1              NaN      1/20/2020  ...          NaN         NaN         NaN
1   2              NaN      1/20/2020  ...          NaN         NaN         NaN

[2 rows x 27 columns]

In [12]:
df_covid = df.copy()
df_covid.drop(df_covid.columns[[0, 1, 3, 4, 5, 10, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]], axis=1, inplace=True)
df_covid.dropna(inplace=True)
df_covid.reset_index(drop=True, inplace=True)

df_covid['reporting date'] = pd.to_datetime(df_covid['reporting date'].apply(lambda x: re.sub(r'/20$','/2020', x)), format='%m/%d/%Y')
df_covid['symptom_onset'] = pd.to_datetime(df_covid['symptom_onset'].apply(lambda x: re.sub(r'/20$','/2020', x)), format='%m/%d/%Y')
df_covid['hosp_visit_date'] = pd.to_datetime(df_covid['hosp_visit_date'].apply(lambda x: re.sub(r'/20$','/2020', x)), format='%m/%d/%Y')
df_covid['exposure_start'] = pd.to_datetime(df_covid['exposure_start'].apply(lambda x: re.sub(r'/20$','/2020', x)), format='%m/%d/%Y')
df_covid['exposure_end'] = pd.to_datetime(df_covid['exposure_end'].apply(lambda x: re.sub(r'/20$','/2020', x)), format='%m/%d/%Y')

df_covid['exposure_duration'] = df_covid['exposure_end'] - df_covid['exposure_start']
df_covid['symptom_hospital'] = df_covid['hosp_visit_date'] - df_covid['symptom_onset']
df_covid['reporting'] = df_covid['reporting date'] - df_covid['hosp_visit_date']
df_covid.drop(df_covid[['exposure_end', 'exposure_start', 'hosp_visit_date', 'symptom_onset', 'reporting date']], axis=1, inplace=True)
df_covid

        country  gender   age  ... exposure_duration symptom_hospital reporting
0         China    male  66.0  ...            6 days           8 days    9 days
1         China    male  37.0  ...            1 days           6 days    1 days
2         China    male  39.0  ...            1 days           5 days    7 days
3         China    male  56.0  ...            8 days           4 days    1 days
4         China  female  18.0  ...            5 days           1 days    1 days
5         China  female  32.0  ...            4 days           5 days    1 days
6         China    male  45.0  ...            3 days           2 days    1 days
7         China  female  50.0  ...            2 days           8 days    0 days
8         China    male  43.0  ...            6 days           3 days    2 days
9         China    male  42.0  ...            3 days           1 days    2 days
10        China  female  32.0  ...            2 days           4 days    3 days
11        China    male  22.0  ...            2 days           1 days    2 days
12        China    male  29.0  ...            3 days           1 days    0 days
13        China    male  30.0  ...            2 days           0 days    1 days
14        China    male  41.0  ...            1 days           9 days    2 days
15        China    male  28.0  ...           13 days           3 days    2 days
16        China    male  33.0  ...           11 days           2 days    1 days
17        China    male  44.0  ...            1 days           6 days    1 days
18        China  female  32.0  ...            2 days           5 days    3 days
19        China    male  50.0  ...            4 days           4 days    5 days
20        China  female  40.0  ...            4 days           4 days    5 days
21        China  female  42.0  ...            0 days           1 days    3 days
22        Japan    male  65.0  ...            8 days           3 days   11 days
23        Japan  female  45.0  ...            5 days           0 days    9 days
24        Japan    male  55.0  ...           20 days           2 days    3 days
25        Japan  female  35.0  ...            1 days           0 days    6 days
26        Japan  female  25.0  ...            1 days           5 days    2 days
27        Japan  female  25.0  ...            5 days           9 days    2 days
28        Japan  female  55.0  ...            0 days           0 days    4 days
29        Japan    male  55.0  ...            6 days           3 days    1 days
30        Japan  female  55.0  ...            4 days           3 days    1 days
31    Singapore  female  28.0  ...            0 days           5 days    1 days
32    Singapore  female  48.0  ...            0 days           9 days    1 days
33    Singapore    male  45.0  ...           11 days           1 days    3 days
34    Singapore    male  27.0  ...            2 days           7 days    9 days
35    Singapore  female  38.0  ...            2 days           8 days    7 days
36    Singapore    male  51.0  ...            2 days           5 days    5 days
37  South Korea    male  37.0  ...            5 days           9 days    1 days
38       Taiwan  female  50.0  ...            2 days           3 days    2 days
39      Germany    male  41.0  ...            0 days           6 days    0 days
40    Hong Kong    male  56.0  ...            9 days           1 days    3 days
41    Hong Kong  female  37.0  ...            6 days           2 days    0 days
42    Hong Kong    male  39.0  ...            2 days           0 days    0 days
43    Hong Kong    male  80.0  ...            0 days          11 days    3 days
44    Hong Kong  female  72.0  ...            8 days           0 days    1 days
45    Hong Kong    male  42.0  ...           11 days           0 days    4 days
46    Hong Kong  female  55.0  ...            0 days           0 days   11 days
47    Hong Kong    male  52.0  ...            0 days           1 days    1 days
48    Hong Kong    male  43.0  ...            0 days           2 days   13 days
49    Hong Kong  female  67.0  ...            0 days           0 days   13 days
50    Hong Kong    male  37.0  ...            0 days           1 days    4 days
51    Hong Kong    male  68.0  ...           26 days           2 days    1 days
52    Hong Kong  female  21.0  ...           28 days          13 days    1 days
53    Hong Kong    male  16.0  ...           28 days           8 days    1 days

[54 rows x 7 columns]